<!DOCTYPE html>
<html>

<head>
    <title>IMDB</title>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Admin Teritory</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <form method="get" action="/logout" class="navbar-form navbar-right">
              <button type="submit" class="btn btn-success">Logout</button>
            </form>
          </div>
  <!--/.navbar-collapse -->
        </div>
      </nav>
      <br>
      <div id="demo">
        <h1>Table Movies</h1>
        <!-- Responsive table starts here -->
        <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
        <div class="table-responsive-vertical shadow-z-1">
        <!-- Table starts here -->
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
              <tr>
                <th style="text-align:center">No</th>
                <th style="text-align:center">Name</th>
          <%# <--   <th style="text-align:center">Link</th> -->%>
                <th style="text-align:center">Action</th>
              </tr>
            </thead>
            <tbody>
            <% let count=1%>
              <% movies.forEach((movie)=>{ %>
              <tr>
                <td data-title="ID" style="text-align:center"><%=count%></td>
                <td data-title="Name" style="text-align:center"><%= movie.judul %></td>

                <td data-title="Status" style="text-align:center">
                  <input type="submit" name="" value="Edit" onclick="location.href='/update/<%= movie.id%>'">
                  <a href="/delete/<%= movie.id%>"><input type="submit" name="" value="Remove" onclick="return confirm('Are You Sure')"></a>
                </td>
                <%count++ }) %>
              </tr>
            </tbody>
          </table>
        </div>
      <button style="float:right" type="submit" name="button" onclick="window.location.href='/create';">Add Movie</button>
      <!-- Table Constructor change table classes, you don't need it in your project -->
    </div>
</body>

</html>