<!DOCTYPE html>
<html>

<head>
    <title>IMDB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1 style="text-align:center"><%= tittle %></h1>
    <hr>
    <form action="/create" method="post">
      Tittle Film:<br>
      <input size="40" type="text" name="tittle" value="" placeholder="Tittle Film"><br>
      Description:<br>
      <textarea name="desc" rows="8" cols="40"></textarea><br>
      <button type="submit" name="button">Submit</button>
    </form>

</body>
</html>