<!DOCTYPE html>
<html>

<head>
    <title>IMDB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1 style="text-align:center">IMDB Lokal</h1>
    <hr>
    <table>
        <thead>
            <th>Id</th>
            <th>Judul Movie</th>
            <th>Rating</th>
        </thead>
        <tbody>
          <% movies.forEach((movie) => { %>
          <tr>
              <td><%= movie.id %></td>
              <td><a href="/votes/<%= movie.id %>"><%= movie.judul %></a></td>
              <% if(movie.rata) { %>
                <td><%= movie.rata.toFixed(1) %></td>
              <% } else { %>
                <td>0</td>
                <%} %>
            </tr>
          <% }) %>
        </tbody>
    </table>
</body>

</html>