<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="https://www.google.com" method="get">
      <input type="search" name="s" results=5>
    </form>
  </body>
</html>